[2019-11-04 16:25] #1040 closed

[2019-11-04 16:57] #1006 closed

[2019-11-04 18:31] ConnorRigby opened #1048 "Some peripheral pins need to have the pin io mode set before usage"
As reported on the forum [here](https://forum.farmbot.org/t/osv8-disables-peripherals-on-digital-pins/5525)

[2019-11-04 18:32] #1048 closed

[2019-11-07 19:39] #792 closed

[2019-11-07 20:35] ConnorRigby opened #1053 "[Farmware] Sometimes farmware fails for no reason"
[code]

[2019-11-08 06:05] jsimmonds2 opened #1056 "[Bug] Can't enable Firmware Debug log"
Testing on Pre-Release **`v8.3.0-rc3`**

Expected `fbos_config.firmware_debug_log` to change as the FE Log Setting item was toggled.

Picture this :)

![image](https://user-images.githubusercontent.com/1224439/68453543-f2f17500-0249-11ea-9766-c506a49dacc7.png)

[2019-11-08 06:45] gabrielburnworth commented on #1056
Try `fbos_config.arduino_debug_messages`.

[2019-11-08 11:11] jsimmonds2 commented on #1056
Oh, Ok and **thanks**.
Sorry for the noise.

Some refactoring going on that I hadn't bothered to follow through :(

[2019-11-08 22:09] jsimmonds2 commented on #1056
A deeper look tells me that bug(s) lurk.

E.g [https://github.com/FarmBot/farmbot_os/blob/staging/farmbot_core/lib/farmbot_core/firmware_side_effects.ex](https://github.com/FarmBot/farmbot_os/blob/staging/farmbot_core/lib/farmbot_core/firmware_side_effects.ex#L155)
[code]
:-)

[2019-11-08 22:24] ConnorRigby commented on #1056
I've noticed a bug lately where I have to refresh the page  too make that panel work

[2019-11-08 22:27] jsimmonds2 commented on #1056
Yes, same. That toggle slider seems to have some busy code underneath it !

[2019-11-16 16:16] derletztename opened #1066 "Farmbot Connection Issue"
I tried to connect the farmbot (OS 8.2.2) with the newest version of the WebApp and failed. WebApp seems to run just fine. But for reasons I don't understand the Farmbot won't connect to the WebApp. Maybe someone could help me figuring out what's the issue. As both systems are just freshly installed, it might be a bug in the current farmbotOS code?

WebApp sais:

And on farmbot side, when I connec

[2019-11-16 21:17] RickCarlino commented on #1066
@derletztename What is the output of `git log -1` from within the Web App directory?

[2019-11-17 14:01] derletztename commented on #1066
paul@permabotserver:~/Farmbot-Web-App$ git log -1
commit b8867cc16571e653427d3f578389ead00dc7a5ff (HEAD -> master)
Merge: 8eaf643 0e2c016
Author: Rick Carlino <RickCarlino@users.noreply.github.com>
Date:   Thu Nov 14 08:06:21 2019 -0600

    Merge pull request #1573 from FarmBot/thursday_deploy

    v8.2.0 - Iridescent Iris
paul@permabotserver:~/Farmbot-Web-App$

[2019-11-18 15:36] ConnorRigby commented on #1066
@derletztename what version if the raspberry pi are you using? Farmbot doesn't seem to detect any network devices which could mean a power issue or possibly a broken raspberry pi.

[2019-11-18 23:45] adunwell commented on #909
Very Interested in this feature addition, in an EDU space behind a proxy also. Following for Update

[2019-11-19 00:02] ConnorRigby commented on #909
I've looked into this a small amount, but haven't come to any full conclusions yet. The problem i see up front is that "proxy" as a term is kind of ambiguous. Farmbot OS uses many protocols including but not limited to (off the top of my head)

* NTP
* HTTP (S)
* AMQP (over tls)

so the issue with having a "proxy" is it would need to handle all of those protocols, not just HTTP to work correctly.

[2019-11-19 17:49] gabrielburnworth commented on #801
Fixed via `farmbot_os_version_requirement` in https://github.com/FarmBot/farmbot_os/commit/fff4963f7e787fef35a7a53b602d4a7e4f0dd214.

[2019-11-19 17:49] #801 closed

[2019-11-19 18:45] derletztename commented on #1066
I am using a Raspberry Pi 3 B+.
I tested another one at home, just the Raspi (no Farmduino) with a freshly installed version of farmbot os 8.2.2. It's the same issue, but with another IP adress. So the webapp recognizes the farmbot/ Rasps somehow, but only receives "Unprocessable Entitys" ?

[2019-11-19 18:49] derletztename commented on #1066
Maybe somethings off with my .env? But most things are turned off there anyways. I am very confused as I couldn't have done so much wrong at this point of setting up the farmbot. Most of it is fresh out of the box downloaded from github

[2019-11-21 05:18] jsimmonds2 commented on #1056
Finally **got** my Firmware Debug logs :)

* Built a **`farmduino_k14.hex`** with debug logging enabled.
* Forced **`firmware_debug_log`** to true in **`FbosConfig`** using
[code]
Surely **`arduino_debug_messages`** is now/nearly obsolete ?

[2019-11-22 18:00] gabrielburnworth opened #1067 "[CeleryScript] Resources aren't updated after `resource_update`"
# Mount tool
## CeleryScript
[code]

## Result
Device resource:
[code]

## Relevant code
https://github.com/FarmBot/farmbot_os/blob/e6bd215039e680f04ec30c3091186fbe95d3e689/farmbot_os/lib/farmbot_os/sys_calls/resource_update.ex#L7-L13

# Update plant stage
## CeleryScript
[code]

## Result
Plant resource:
[code]

## Relevant code
https://github.com/FarmBot/farmbot_os/blob/e6bd215039e680f04ec30c309

[2019-11-22 18:36] ConnorRigby commented on #1067
## Mount tool
Farmbot doesn't currently track `device.mounted_tool_id`. This will need a migration, but should be easy.

## Update plant stage
this one worked for me. The caveat is that it isn't immediately available in the API. It could take up to 10 seconds for the HTTP request to  complete.

## Remove point
* Farmbot doesn't allow modification of `GenericPointer` currently. It can be added easi

[2019-11-22 18:47] ConnorRigby opened #1068 "[CeleryScript] resource_update special values"
creating feature request from #1067

when using the `resource_update` RPC, one can't set items such as `discarded_at` on a `Point` type because it needs to know the current time. We will need a special system for values such as this.

This is also needed for setting values to `null` as the API requires values be string types

## Use cases

* update `Plant.discarded_at` to a utc_datetime
* update `

[2019-11-22 19:15] ConnorRigby commented on #1056
i believe `arduino_debug_messages` and `firmware_debug_log` are the same thing. There may be a bug where `botstate.arduino_debug_messages` is not updated when `firmware_debug_log` is updated and vice versa.

[2019-11-22 19:17] ConnorRigby commented on #1056
oh actually, i see that both of those values are real values, not one as a mirror of the other. i'll have to cross reference which one is **supposed** to be used for this feature.

[2019-11-22 19:27] ConnorRigby commented on #1066
I'm sort of confused about your environment. Why are you accessing configurator at `192.168.8.239` instead of it's captive portal access point?

[2019-11-22 19:46] derletztename commented on #1066
I am very sorry, for not even understanding your question properly. I do not access configurator to this address, it gets it from the Web App. I just installed everything fresh out of the box and tried to get it working.
But what did the trick was going into logger and seeing the actual error. For reasons I can't understand, I mistyped the password over and over again. Or maybe before there were o

[2019-11-26 17:36] #1056 closed

[2019-11-28 21:04] jsimmonds2 opened #1074 "Incorrect units in Firmware Parameter log message"
Changing MAX SPEED (MM/S) for X, Y or Z axis results in a Log Message which append units as **`(steps/mm)`**.  Surely that's not a unit of speed ?

Picture this :)

![image](https://user-images.githubusercontent.com/1224439/69831720-cba52b00-127e-11ea-843d-3bb127c52ce9.png)

[2019-12-02 17:44] #1067 closed

[2019-12-02 17:48] #1068 closed

[2019-12-02 17:50] ConnorRigby commented on #1074
This log actually is correct. The app does calculations based on the value stored in `steps per mm` to convert the data to `mm per second`. So the user inputs `100 mm / s` and farmbot receives `55 steps per second`

[2019-12-02 17:50] #1074 closed

[2019-12-02 17:51] ConnorRigby commented on #1066
Glad to see you got it sorted out!

[2019-12-02 17:51] #1066 closed

[2019-12-02 22:03] jsimmonds2 commented on #1074
Understand about that calculation, just that there is a **different** control for STEPS PER MM.

That would be 550 and as you said, the unit really is **steps per second**  :)

[2019-12-17 21:22] #806 closed

[2019-12-18 13:58] ConnorRigby commented on #1053
Fixed in #1080

[2019-12-18 13:58] #1053 closed

[2019-12-18 13:59] ConnorRigby commented on #805
Closing for now. This would only be possible if hosting our own instance of NervesHub

[2019-12-18 13:59] #805 closed

[2019-12-18 14:01] ConnorRigby commented on #802
This isn't actually possible due to how the hardware/app is currently architected.
In the future `nerves_initramfs` could solve this in a different way.

[2019-12-18 14:01] #802 closed

[2019-12-19 21:19] ConnorRigby commented on #799
Fixed in #1090

[2019-12-19 21:19] #799 closed

[2019-12-24 00:35] gabrielburnworth opened #1091 "[CeleryScript] Re-implement `set_servo_angle`"
This `SysCall`:
https://github.com/FarmBot/farmbot_os/blob/6cb47d43aab16a9e9851517089671c81dc98d457/farmbot_os/lib/farmbot_os/sys_calls.ex#L285-L288
will need something like this:
[code]
to call this firmware command:
https://github.com/FarmBot/farmbot_os/blob/8f29577394c594adf038678a1de79eb2c374ea26/farmbot_firmware/lib/farmbot_firmware/gcode/encoder.ex#L76
upon this CeleryScript node:
https://gi

[2019-12-30 20:43] #1091 closed

[2019-12-30 20:54] gabrielburnworth opened #1100 "Movement to gantry-mounted tools should use current x position"
Movement to a tool in a gantry-mounted (`gantry_mounted: true`) slot should use the current x-axis position (instead of the tool slot x coordinate) for the x coordinate of the move absolute command.

# Relevant code
https://github.com/FarmBot/farmbot_os/blob/63fffcfc5d1b89ddc536a91f4e823476a1bbcb08/farmbot_os/lib/farmbot_os/sys_calls/point_lookup.ex#L14-L21

[2020-01-03 06:08] jsimmonds2 opened #1103 "[bug, minor] Easter Eggs :: Unavailable Video"
The Digital Rights to a YouTube video link referenced in this Easter Egg are in dispute and the video clip is no longer offered.

[code]

[2020-01-06 06:49] jsimmonds2 opened #1104 "[bug, minor] Vintage Net dep. needs updating to fix :mdns_lite breakage"
As noted in [this FarmBot Forum post](https://forum.farmbot.org/t/using-farmbotos-beta-updates/3951/75).

[2020-01-08 09:42] jsimmonds2 opened #1105 "[bug] {X,Y,Z} Axis movement timeout reports from firmware cause FBOS Factory Reset"
[This Forum topic](https://forum.farmbot.org/t/farmbot-factory-reset-after-update-to-9-0-0/5758/22) describes the symptoms.

The root problem seems to be in **FirmwareReset** somewhere,  trying to reset the serial device.
Here's a RingLogger snippet showing **:farmbot_core** app exiting.

![image](https://user-images.githubusercontent.com/1224439/71967272-2e62ec80-3257-11ea-8ddd-11ea0b5e7008.png)

[2020-01-08 15:20] RickCarlino commented on #1105
Thanks for the bug report @jsimmonds2 ! You are two steps ahead of us, it seems. Rory and I noticed this one yesterday- I will be investigating today.

[2020-01-09 04:33] jsimmonds2 commented on #1105
Here's more detail from the serial console.
The firmware ( my case **farmduino_k14** `6.4.2.G` commit `1711db1d` )

Looks like the firmware sent up a **79** which is not yet handled.

![image](https://user-images.githubusercontent.com/1224439/72037584-e42f4900-32f2-11ea-92e5-a52beb57b239.png)

[2020-01-09 13:55] RickCarlino commented on #1105
Nice find @jsimmonds2. Fairly certain the first issue is patched up. Will take a look into this one next.

[2020-01-09 19:54] RickCarlino commented on #1105
@jsimmonds2 Can you try out `v9.0.1-rc3` and see if the issue persists?

[2020-01-09 23:31] jsimmonds2 commented on #1105
@RickCarlino , as soon as AmazonAWS lets me have it, I'll fire up on **v9.0.2** Release.  Thanks !

[2020-01-10 00:41] RickCarlino commented on #1105
How's it looking, @jsimmonds2 ? My device seems to be chugging along after an OTA from 9.0.0 => 9.0.2. Rory noted a "hiccup" of some sort that he could not isolate and which went away after a reboot. Not ideal, but I think that is better than the factory reset issues reported in 9.0.0.

[2020-01-10 00:47] jsimmonds2 commented on #1105
As luck would have it, Amazon AWS currently has some network path issues delivering the v9.0.2 .IMG file to little old me down in AU !

I'll keep on retrying . . also, my attempt to update OTA also failed to run ( quietly ) . . maybe related ?

Thanks for your **all-nighter** to get a fix out !

[2020-01-10 01:49] jsimmonds2 commented on #1105
@RickCarlino , up now on **v9.0.2** . . no more crashes if **FIND HOME {X,Y,Z}** time out,
but **CALIBRATE {X,Y,Z}** seem to hang forever.

In my case ( just a Raspberry Pi 3 and a Farmduino V1.4 ; no other hardware ) I have **TIMEOUT AFTER (SECONDS)** set to 10, so it looks like the Axis movement timeout is getting swallowed and not reported.

Can you test CALIBRATION on a real bot with a shorten

[2020-01-10 05:28] jsimmonds2 commented on #1105
@RickCarlino , maybe that's a "never mind" . . I'll go read the firmware code.
Looks like the **Farmduino** firmware handles **CALIBRATE** autonomously . . . ( I was **sure** that command timed out before your v9.0.2 fixes :-| )

[2020-01-10 06:34] jsimmonds2 opened #1110 "[bug] CI commit hash not found on GH ?"
I love traceability in software changes.

Probably my myopia, but for FBOS **v9.0.2** from the CI artefacts, the commit hash can't be found in the GH **farmbot_os** repo. (?)

Here is the CI **.IMG** running right now ( 5a95d6c3 ).
I can't see that commit on GitHub.  ( help me :)

![image](https://user-images.githubusercontent.com/1224439/72131103-67be6800-33cf-11ea-9b2d-73d839669581.png)

[2020-01-10 13:48] RickCarlino commented on #1105
Thanks for the updates @jsimmonds2. It seems that you are not the only person experiencing this issue. I did most of my testing on v1.2 (RAMPS) hardware, so it's possible this problem is exclusive to the Farmduino. Details to follow.

[2020-01-10 14:35] RickCarlino commented on #1110
@jsimmonds2 Can you try again- I am seeing it on Github fine right now. Maybe it was related to those CDN hiccups you mentioned last night?

[2020-01-10 15:03] RickCarlino opened #1111 "Firmware never recovers from reboot"
# Steps to Reproduce
 * Create a sequence that uses the firmware (`move_abs`, `calibrate`, etc...)
 * Run the sequence to ensure that your firmware is running OK
 * Reboot the MCU from the Web App (not FBOS, just the MCU) and give it some time to reboot itself.
 * Run the sequence again.

# Expected Behavior

Firmware should be available after a reboot.

# Actual Behavior

Firmware is not availabl

[2020-01-10 15:14] RickCarlino commented on #1111
# Workaround

The issue is resolvable by emergency locking / unlocking the device.

[2020-01-10 21:45] jsimmonds2 commented on #1111
Confirm same issue observed yesterday on mine.  Used same ESTOP, UNLOCK workaround :)

[2020-01-10 21:49] jsimmonds2 commented on #1110
Thanks @RickCarlino  !  User-error ( mine ). Seems I need to check the **master** branch for CI builds :)

[2020-01-10 21:49] #1110 closed

[2020-01-13 13:33] RickCarlino opened #1112 "Sequence Queueing Issues"
Forum user `dmbgo` states that executing a sequence while one is already running causes unexpected behavior. [Link to original forum post](https://forum.farmbot.org/t/farmbot-factory-reset-after-update-to-9-0-0/5758/41?u=rickcarlino).

[2020-01-14 01:46] RickCarlino commented on #1111
I am fairly certain [this line](https://github.com/FarmBot/farmbot_os/blob/staging/farmbot_firmware/lib/farmbot_firmware.ex#L244) is setting the wrong default. Will investigate tomorrow.

[2020-01-15 01:57] jsimmonds2 commented on #1112
@RickCarlino I had a play with this.
The only way that I found to make it happen is by using the `TEST` button on the **Sequences** page, e.g.
* Select first Sequence, press `TEST`
* **quickly** Select a different Sequence, press `TEST`

[2020-01-15 07:03] jsimmonds2 opened #1114 "[bug, minor] Recurrent FarmEvent causes too many Logger records"
I set up 1 Event to run 1 Sequence per Day until :infinity :).
This is what appears in the RingLogger output . . can these 15 second "Developer" logs be shut off ?
### **:-)**

![image](https://user-images.githubusercontent.com/1224439/72412142-b9486780-37c0-11ea-9ad0-234489cabb71.png)

[2020-01-15 13:46] RickCarlino commented on #1112
Thanks so much for doing the research, @jsimmonds2 ! This is 100% still a bug, but it is good to know that it is confined to edge cases.

This is possible via `e-stop`. Did you have a  different use case in mind?

It's been a while since I've looked into this part of the app, and its not how I typically use my device so I will need to give it a look. I have a hunch that we designed queueing as the

[2020-01-15 14:13] RickCarlino commented on #1114
@jsimmonds2 That's an "Everything is OK" alarm from the FarmEvent runner :stuck_out_tongue_winking_eye:. I can see how the log is useful when debugging the FarmEvent runner (especially in situations where the runner silently dies), but do agree it is not very useful when the FarmEvent runner is working as intended. I might just comment this out, since we have not needed to debug this part of FBOS

[2020-01-15 14:19] RickCarlino commented on #1114
I've commented it out in 03b7b4d

[2020-01-15 20:39] roryaronson commented on #799
From Rick: "Ah, I think this one was QA'ed only from an FBOS perspective- there is currently no UI element to toggle the flag, so I will need add a UI for it first."

[2020-01-20 02:56] jsimmonds2 opened #1117 "[defects] Farmware page for 3rd-party Farmwares"
This may not be the correct repository for this report; I don't know WebApp code base well enough to decide.

As mentioned in [this FarmBot Forum post](https://forum.farmbot.org/t/farmware-moveabsolute-and-executesequence-not-working/5784/11) and following 2 replies, there are problems evident after **INSTALL**-ing and then **REMOVE**-ing Customer-written Farmware packages.

* After `INSTALL`-ing

[2020-01-20 13:40] RickCarlino commented on #1117
Thanks for the detailed report, @jsimmonds2 . I am getting settled in to the office and will reply to your forum posts momentarily.

[2020-01-27 20:49] whitecapsO opened #1128 "30 second timeout on Farmware"
(see https://forum.farmbot.org/t/farmware-moveabsolute-and-executesequence-not-working/5784/28)

From JSSimmonds: "this new Farmware behavior was introduced by xxx Dec-14 2019 . . allows any Farmware to run for only 30s max. The code needs a re-work ( and a unit test )."

To recreate the behaviour:
Install this Farmware: https://raw.githubusercontent.com/whitecapsO/hello-farmware-test/master/manif

[2020-01-27 20:58] RickCarlino commented on #1128
Thanks for the detailed report @whitecapsO . I'm still working on some fixes for the Express bots but have this on my radar as my next action item thereafter.

[2020-01-27 23:37] jsimmonds2 commented on #1128
@whitecapsO , you got the "wrong" Connor in your post. He's **ConnorRigby** on GitHub :)

[2020-01-27 23:49] RickCarlino commented on #1128
...and it's perhaps best for us to not "@" him unnecessarily now that he is no longer at Farmbot. Although we still do talk regularly, I'd prefer not to fill his inbox with FarmBot-related emails.

[2020-01-27 23:53] jsimmonds2 commented on #1117
** **UPDATE** **

That `Unknown Farmware 502 (pending install)` situation was my User Error ;; the URL inside the Manifest file did not match the URL I used for the ( successful ) installation !

There's still a couple of issues though.
* A little while ( 30s ? ) after a fresh installation, the `Information` panel shows a red `COULD NOT FETCH PACKAGE NAME` sub-panel which shows a `RETRY` button.

[2020-01-28 00:02] RickCarlino commented on #1128
**UPDATE:** I have added a warning message for other developers who author long running farmwares. It will be released with FBOS v9.1.0, which is expected to be out in less than a week.

https://github.com/FarmBot/farmbot_os/compare/qa/arduino-firmware?expand=1#diff-11b756f456bbcc43f104d46ce8bcc718R58-R66

[2020-01-28 01:31] whitecapsO commented on #1128
Sure thing re Connor. Thanks for adding the message :).

[2020-01-28 05:31] jsimmonds2 commented on #1128
Hoping that's just a temporary `BAND-AID®` ?
30s ain't very long running . . just enough for 2 or 3 simple statements !

There's a 10s delay **between** statements which is also worrying . . that's a huge amount of wasted time ( the running Farmware has the entire platform for its 'exclusive' use ).  I'll have a look at this.

[2020-01-28 05:34] jsimmonds2 commented on #1128
@whitecapsO , can you edit your OP to remove that (at)connor ?  It's referring to some other GitHub user who presumably is puzzled by the "mention"  email coming from GitHub (!)

[2020-01-28 05:43] whitecapsO commented on #1128
Done.

[2020-01-28 05:53] jsimmonds2 commented on #1128
Nope.  I meant your initial post for **this Issue** :)

[2020-01-28 13:35] RickCarlino commented on #1128
Hopefully it is just temporary. As I remember, there were some very difficult
tradeoffs that happened with the creation of the v8 CeleryScript runtime.

I believe this was the main reason for adding the timeout- there were bug
 reports of farmwares causing the system to hang if they were not cleanly exited
 (eg: runaway loops, infinite `sleep()` calls, etc..)

[2020-01-29 22:29] RickCarlino opened #1132 "Device should honor API `read_at` field on `SensorReading` resource."
The API exposes a user-definable `read_at` field on `sensor_readings`, but FBOS does not currently set that field.

[2020-02-11 01:32] roryaronson opened #1141 "Only allow FBOS to download and install one update at a time"
If you switch update channels while FBOS is downloading one update, it begins to download a second update. The % download in the FE then flip flops and I guess it will install whichever update downloads first.

I think ideally the newer update should stop the older one, because that reflects the user's more immediate intention. But it would also work for the existing update to block others from st

[2020-02-11 01:35] roryaronson opened #1142 "Ability to cancel an FBOS update"
If an update starts downloading, it would be nice to be able to click a cancel button in the FE. If auto update is enabled then a red error toast could show saying "Disable auto update first to cancel the current update"

[2020-02-22 06:58] jsimmonds2 opened #1163 "[bug, minor] Firmware interface reports wrong dv/dt for Z-axis state"
Playing with the `FarmbotFirmware` interface to the Farmduino and noticed that the **accelerate** and **decelerate** reports for **Z**-axis state are "upside-down".

Picture this :-)

![image](https://user-images.githubusercontent.com/1224439/75088065-4b037b80-559c-11ea-91f4-969fc35cf43d.png)

[2020-02-28 21:16] muenchris opened #1165 "[Farmware] Did you stop supporting the local webserver on port 27347?"
# Expected Behavior
Connect to the local webserver with REST should give access as documented here:
https://hexdocs.pm/farmbot/Farmbot.BotState.Transport.HTTP.html

# Actual Behavior
Webserver on PI refuse connection

# Steps to Reproduce
Try a REST call with a valid token in the Bearer to http://farmbotiP:27347/api/vi1/bot/state"

[2020-02-28 21:50] RickCarlino commented on #1165
@muenchris This was permanently removed from FBOS starting with v8. We recommend using AMQP or FarmBotJS for streaming state updates in v8.

[2020-02-28 21:50] #1165 closed

[2020-02-28 22:33] muenchris commented on #1165
do these two APIs work locally or do I have to install the whole FB Cloud infrastructure onsite?
The beauty of the previous APIs were that I can run emergency code locally when the connection to the cloud is unreliable or down.

[2020-02-28 22:56] RickCarlino commented on #1165
@muenchris FarmBotJS and AMQP require a connection to the home server (usually my.farm.bot unless you are self hosting). If you wish to self host your infrastructure on a LAN for increased connectivity, the instructions can be found [here](https://github.com/FarmBot/Farmbot-Web-App/blob/staging/ubuntu_example.sh). Please note that the only OS distribution we officially support is Ubuntu and the on

[2020-02-28 23:04] muenchris commented on #1165
Any special version of Ubuntu?
Is your farmware no longer using celeryscript? Does that mean all move and water commandos are coming from the cloud? Nothing local anymore?

If so I guess I have to find a way to use my own controller for the bot, I don't want to be dependent on a cloud. Also the data I create is my data - and will not be shared with cloud services that I do not give explicit permis

[2020-02-29 18:43] RickCarlino commented on #1165
They were last tested and working on a fresh install of Ubuntu 18.10

It is still using CeleryScript, but over Unix sockets. It is best to use a wrapper like [FarmBot Tools](https://github.com/FarmBot-Labs/farmware-tools). This will allow compatibility for future versions if the underlyng platform must change.

Farmware still exists in FBOS v9. The underlying APIs have changed, though.

We agree e

[2020-02-29 18:51] muenchris commented on #1165
Thank you for your excellent support and answers. I have worked many years at Siemens and with KUKA and would love to experiment with the Farmbot. Its a great test case for our industrial IoT Solution but its fully based on .NET and requires at least some way to get to the linux on the PI.
Unix Sockets is something we are using on other projects therefore I might go this route next (running my IoT

[2020-02-29 19:23] RickCarlino commented on #1165
@muenchris Unlike TCP sockets, Unix sockets are not accessible over a network and they should be considered an internal API (they are an interprocess communication tool provided by the OS). I would highly recommend against directly interacting with the Unix sockets because if you base your entire application around a private API, it may break later on. If you use Farmware tools or FarmBotJS, it is

[2020-02-29 19:44] muenchris commented on #1165
I do understand your point. My problem is that I am in a rural environment with very spotty internet. The risk that my crop is not watered because of "internet issues" is not generating high confidence.
Down the road I envision fields of farmbots - completely autonomous - only "monitoring" via the cloud but all the farmware running even if the cloud is down.
If this should scale, the "on premise"

[2020-02-29 22:23] whitecapsO commented on #1165
Hi guys, please forgive me for jumping in.

I read the conversation and had some thoughts on future architectures for folks with poor internet connectivity. The easyist solution is to have the web app run on a local web server with the option of ethernet or local wifi network connectivity to the FBOS on the Pi. This would require an easier way to deploy, configure and update the webapp and associa

[2020-03-03 16:56] RickCarlino commented on #1165
# Dealing with Netowrk Partitions

This issue has been fixed in 1.5 devices. Adding an RTC chip to your device will prevent farm events from failing to execute. It is possible to upgrade older devices. We've intentionally cut the internet off of devices in the warehouse for days on end and things are OK as long as the RTC chip has a good battery. The problem before was that FarmBot's only means of

[2020-03-11 22:25] RickCarlino opened #1170 "Need to Configure VintageNet `:internet_host` setting"
[This line](https://github.com/nerves-networking/vintage_net/blob/2fc6f251069aa0ae283524aed6714991c0137773/lib/vintage_net/interface/internet_tester.ex#L26) pings an IP address (can't be a hostname) to check if the device is online. The current value is `1.1.1.1` (CloudFlare DNS host). If this is not available (ie: blocked by local policy), VintageNet will start creating logs that say the device i

[2020-03-26 02:04] jsimmonds2 opened #1180 "[bug, cosmetic] unhandled message in error state: after Farmware exits normally"
Picture this :)  (near bottom of image)

![image](https://user-images.githubusercontent.com/1224439/77602658-17808c00-6f62-11ea-9c3d-98e5f2f1eaf0.png)

[2020-03-26 21:04] RickCarlino commented on #1180
Interesting find @jsimmonds2 thanks for bringing it to our attention. I will take a look next time I'm in there.

[2020-04-13 14:13] Bracewind opened #1194 "A simulator for the farmbot"
Hello everyone,

I contacted Rory Aronson some time ago about the potential creation of a simulator for the farmbot. I take advantage of the coronavirus to find some free time at last.

First, I would like to know your opinion on the subject, especially if it will be useful for you, and if yes what do you need most. For instance, a simulation could be used to test/debug the code, or it could be re

[2020-04-13 20:30] RickCarlino commented on #1194
Hi @Bracewind

It's a busy day for me here at FarmBot, so it will be some time before I can provide a full response, but this is a very interesting idea.

I will provide a longer response some time this week.

Thanks for reaching out to us!

[2020-04-13 20:50] Bracewind commented on #1194
Ok, thanks for giving me an answer despite your workload,
have a nice day and good luck !

[2020-04-14 03:37] jsimmonds2 commented on #1180
@RickCarlino
This warning has quietly vanished in **v9.2.2** . . will close as I can't reproduce it by either running a Farmware from a Sequence or just using the RUN button on the Farmware web app page.

[2020-04-14 03:37] #1180 closed

[2020-04-14 14:12] RickCarlino commented on #1180
@jsimmonds2 That sounds right. I made some fixes for the users that were hitting "Can't perform X in state Y" errors, and it very well could be that the fix in the firmware handler corrected unnoticed problems elsewhere.

[2020-04-14 22:48] RickCarlino commented on #1194
@Bracewind OK- sorry for the delay. Here is a more in-depth response.

This is a really fun idea, and we've had quite a few folks request it in the past. I think this would be fun for people who are passively curious about FarmBot.

I could see the feature being useful to non-developers, but for a software developer that is not concerned with visualization or aesthetics, it is already possible to

[2020-04-15 09:59] Bracewind commented on #1194
@RickCarlino No problem, this is a low priority improvement, so take all the time you need

I think that more than asthetics, it also helps to simulate what would happen when there is physical inconstencies, for instance if there is less friction between two links, and see if the measures taken by the program are enough to deal with that case. A simple stub may do the trick, but having a physical

[2020-04-15 13:23] RickCarlino commented on #1194
This is a good idea. If you need a starting point (or just want to see how GCode interactions occur), you could flash FarmBot OS onto a RaspberyPi. FBOS can handle the Arduino being unplugged (or not having an Arduino at all). This might be the fastest way to get test data.

Please let me know if you have any questions.

[2020-04-16 19:17] Bracewind commented on #1194
A summary of the available choices is given after this paragraph if you are in a hurry

I've tested the three simulators and.... it will be more complex than what I thought ;)
- V-rep : I've tried to import the collada files of the farmbot, but it does not work and crash. Only collada files are accepted with the free version of the software and no color or materials can be imported (Only materials

[2020-04-16 20:39] RickCarlino commented on #1194
@Bracewind

Since it sounds like you are doing this as a side project for fun, I would definitely pick the one that you find most rewarding / enjoyable to work with. With that being said, from a "usefulness" perspective, I think a simulator is best suited for non-technical users (as I mentioned in a previous message, there are already a variety of tools available for software developers). Having s

[2020-04-22 12:56] jsimmonds2 commented on #1180
Hmmm .. it's back . . I'll try and hunt down more relevant detail / evidence !

Using **v9.2.2** in **dev** env plus custom **farmbot_system_rpi3** which supports **crash.dump** file creation.

![image](https://user-images.githubusercontent.com/1224439/79983826-a5ad4b00-84eb-11ea-9afc-22843f41f652.png)

[2020-04-22 14:34] RickCarlino commented on #1180
@jsimmonds2 Thanks for investigating this.

RE: Nerves System updates - It's still on my TODO list (See! I even took a screenshot of the Trello card! :sweat_smile:) but I've been putting it off until things are a bit more stable. Right now ~10% of customers are hitting failed OTAs and we still have not isolated the root cause, making me hesitant to change the platform until a root cause is isolate

[2020-04-23 00:25] jsimmonds2 commented on #1180
* making me hesitant to change the platform until a root cause is isolated.

Absolutely !  For me there's **no rush** at all to have crash dumps officially enabled, since I managed to build a local **farmbot_system_rpi3** with that flag.

What I'm doing with that is trying to come up with a change that permits more FarmEvents without using so much heap.

The crashes I'm getting with 8_000 or more

[2020-04-23 13:06] RickCarlino commented on #1180
Ah interesting. I am not too familiar with those internals yet, but your theory makes sense. Scheduling FarmEvents has historically been very resource intensive.

[2020-04-27 13:52] RickCarlino opened #1199 "Feture Reuest: "After Unlock" Sequence Callback"
Suggestion from @whitecapsO in the forum:

Add an "After Unlock" callback to call a sequence after a device is unlocked:

https://forum.farmbot.org/t/startup-and-shutdown-sequences/5532/3?u=rickcarlino

[2020-04-30 06:49] Bracewind commented on #1194
I’ve seriously tried to use webots, and I could load the model whithout materials using plugins. But I regularly experiment crashes, and I think the cause is huge memory leak in the software… So I will use Gazebo, even though it is clearly not the optimal choice :/
Running Gazebo on Windows is possible using windows subsystems, not sure if it will be performant though.

I’ve started to create the

[2020-05-01 23:45] RickCarlino commented on #1111
Has anyone seen this recently? I believe this was fixed in 9.2.2...

[2020-05-04 10:29] jsimmonds2 commented on #1111
Not seen . . with no attempt to reproduce on **v9.2.2** 😝

[2020-05-04 12:27] #1111 closed

[2020-05-29 10:43] jsimmonds2 commented on #1180
Hello @RickCarlino

This one is like a fly racing room to room in a house . . it won't go away :-)

**FBOS v10.1.0-rc1**

![image](https://user-images.githubusercontent.com/1224439/83251432-e97f2880-a1ec-11ea-82c3-c845c8803085.png)

[2020-07-26 07:01] jsimmonds2 opened #1225 "Unused variable warning is polluting the Serial Console :) 10.1.3"
![image](https://user-images.githubusercontent.com/1224439/88473504-8e09b680-cf61-11ea-861b-e5aad1005688.png)

[2020-07-26 13:59] RickCarlino commented on #1225
I take the blame for this one @jsimmonds2 . While implementing the filter groups / group iteration feature, I was having issues with a part of the CSVM and worked around it temporarily. Definitely a bug, but the warning does not point to a significant problem, rather it points to some corner cutting on my part. I hope I can fix this in the upcoming v3 MOVE TO block.

[2020-07-27 03:22] jsimmonds2 commented on #1225
"blame" . . What's _that_ ? :-)

Can CircleCI catch the real **stderr** stream ? Or **compile time** warnings like this ?

[2020-07-27 13:20] RickCarlino commented on #1225
:stuck_out_tongue: I need to do a patch release today anyway to un-bork an unrelated issue. I will include a simple fix for this in 10.1.4.

[2020-07-28 03:29] jsimmonds2 commented on #1225
Ooops . . got a New one now ( only on Serial Console **stderr** , not SSH ) 10.1.4 commit **1c5ef14b**

![image](https://user-images.githubusercontent.com/1224439/88615901-2628ac80-d0d6-11ea-939d-16f882378d4b.png)

[2020-08-04 23:32] jsimmonds2 commented on #1225
Hello @RickCarlino ! Has this one ( above ) been cleaned up yet ? :)  Thanks !

[2020-08-05 14:22] RickCarlino commented on #1225
@jsimmonds2 It's pretty low priority given the other things that are going on this week, but I will need to go in there next week when writing the V3 MOVE block that's coming up.

Did the fix make it worse? I can remove it if that's the case.

[2020-08-05 23:42] jsimmonds2 commented on #1225
Thanks @RickCarlino .  No problems 😅  It's **not** worse after the recent fix, just a **different** unused variable.

Rarely use the Console device, but it's the only way I know of to see the **stdio** and **stderr** streams of the BEAM.

[2020-08-10 15:22] RickCarlino commented on #1225
@jsimmonds2 Found a fix while working on unrelated features. The fix is in bb077b13 and will be deployed as part of v11.0.0

[2020-08-10 15:22] #1225 closed

[2020-08-11 05:13] jsimmonds2 commented on #1225
### 👍

[2020-09-21 13:34] gabrielburnworth opened #1245 ""since last reflash" metrics and flags"
# Goals

 * Get specific information about OS and OTA system stability.
 * Gather data over time to establish a baseline to which any changes in performance can be compared.

# Requirements
 * Data must reset when SD card is flashed (such that it is clear for the first boot thereafter).

# Existing metrics
 * Existing logs and telemetry allow us to view problems from the server, but patterns must

[2021-02-03 19:05] #839 closed

[2021-02-05 17:35] RickCarlino opened #1318 "Lua Persistent Storage (K/V store)"
# Lua Storage

## What We Want

 * Ability to store small pieces of information between Lua runs

## Non-Goals

 * Create a full-blown development/file management solution - such use cases are better-handled off-device.

## Idea

 * Rename the "farmware_envs" table to something else (?`user_settings`?).
 * Keep the `/farmware_envs` endpoint for a few months while legacy users migrate.
 * Create a

[2021-02-09 22:40] #1318 closed

[2021-03-09 00:28] mdingena commented on #1112
I can confirm this happens when running two sequences from the `Run` button in the Sequence designer.

I was running (via `Run` button) a sequence that takes photos of the entire garden bed. While it was doing that for a bit, I tapped `Run` on another sequence that scans the bed for weeds.

The expected behaviour was that it would either perform that sequence after finishing the current running on

[2021-03-09 00:42] mdingena opened #1327 "Mark As command does not update plant age"
When you inspect any plant and manually change its `Planned` status to `Planted`, its age resets to 1 day old.

# Expected Behavior

When using the `Mark As` command to change a variable's `status` field to `Planted`, I expect it will reset the variable's age to 1 day old (if the variable is a plant, or a variable that has an `age` property).

# Actual Behavior

The plant is marked as `Planted` bu

[2021-03-13 12:05] mdingena opened #1328 "Lua Assertion read_pin always returns 1, making programmatic tool verification unusable"
I believe since upgrading to FBOS 13.0.1 (but uncertain if 100% correlated) my Assertion `read_pin` function always returns one, causing my  "tool mount/unmount" sequences to fail and abort the parent sequence.

I had believed my UTM got water inside (I have a Genesis v1.2, so the UTM is two parts), but I took it apart and it wasn't the issue. **Furthermore, manually reading the Tool Verification

[2021-03-13 14:05] RickCarlino commented on #1328
Thanks for the bug report @mdingena and particularly for the screenshots (they help us understand the problem better). Gabriel has started work on the UI fixes, which will be deployed shortly. I will investigate the `read_pin` matter.

[2021-03-14 09:14] mdingena commented on #1328
I've done some troubleshooting. I've got both a Read Sensor command and an Assertion command in the tool verification sequence. I do this because I want a sensor data point and also want to make a programmatic decision based on the value.

I had a hunch that reading the pin twice in rapid succession was causing issues. I've added a Wait command (2000 ms) but the Assertion still goes to "failure" w

[2021-03-14 15:39] RickCarlino commented on #1328
Thanks for the update @mdingena. That's very helpful for isolating a root cause and glad you were able to find a workaround in the interim.

[2021-03-15 03:06] mdingena commented on #1328
Is it possible to add a "sensor data point" via Lua? Then I can read the pin once, and then save it both as a data point and return it for the Assertion success/fail triggers.

[2021-03-15 14:03] RickCarlino commented on #1328
@mdingena It is possible, but it is not documented and I have not done a lot of testing on it. The reason this function exists at all is complicated and historic. I am going to show you how, but **please do not file bug reports when the API changes without notice**. This is an undocumented feature and the reason we have not added it to the docs is that the API is kind of ugly and I would prefer to

[2021-04-29 18:53] brobertsaz opened #1333 "Seems to be an issue"
I thought that farmbot would help keep the rabbits away from my weed?

[2021-04-29 18:55] stevetong83 commented on #1333
I'm looking a hydroponics version of farmbot.

[2021-04-29 19:33] brobertsaz commented on #1333
Hooked on Phonics?

[2021-04-29 20:14] #1333 closed

[2021-05-06 16:24] gueux commented on #1194
@Bracewind
How about this one as example? http://amapstudio.cirad.fr/soft/amapsim/start
Seems it has already trained models for some kind of plants that can visualise farming process.with some kind of plugins that can simulate farmbot behaviour.

[2021-05-14 16:22] #1128 closed

[2021-05-14 16:24] #1117 closed

[2021-05-14 16:24] #798 closed

[2021-05-14 16:24] #793 closed

[2021-05-14 16:25] #870 closed

[2021-05-14 16:26] #1141 closed

[2021-05-14 16:26] RickCarlino commented on #1103
Fixed in next release.

[2021-05-14 16:26] #1103 closed

[2021-05-14 16:27] #1100 closed

[2021-05-31 17:45] Bracewind commented on #1194
@gueux
Could you be a little more specific ? This software seems to simulate the plant growth, and I don't find plugins for simulating harvest.(I looked at this page http://amapstudio.cirad.fr/soft/amapsim/c_tools/d_plug-ins/start). I'm interested however to see how it works behind the scene, and if a plugin could do the harvesting part, which is something currently impossible, or at least difficu

[2021-06-18 12:25] gueux opened #1357 "Can't flash Arduino with firmware"
Hi, i have some problems with installing firmware to Arduino Mega through FarmBotOS.

Arduino connected to RaspberryPi3 cable and green LED onto RAMP board started to flash.
Also, as i see Raspberry succesfully connected to WebApp and MQTT:

<img width="1078" alt="Знімок екрана 2021-06-18 о 15 20 58" src="https://user-images.githubusercontent.com/10274175/122560064-b5360e80-d072-11eb-9e8d-4ab3df43

[2021-06-18 15:27] RickCarlino commented on #1357
@gueux You are running an outdated version of FBOS. Older versions of FBOS 14.x had some firmware issues that were recently fixed. Please upgrade and let me know if that fixes the problem.

You can upgrade by reflashing FBOS, or by running `sudo docker-compose run rake releases:publish` from your server's shell and then upgrading from inside of the web app.

[2021-06-19 14:07] gueux commented on #1357
@RickCarlino i've updated farmbot os to the latest 14.1.3-rc2 version, but unfortunately issue is the same one.

Thats what i get when click onto FlashFirmware:
[code]

And thats what happened when click onto RestartFirmware:
[code]

BTW, i can manually compile and upload latest firmware through Arduino IDE, so seems board and usb cable is suitable.

[2021-06-19 14:37] gueux commented on #1357
After some of arduino restart this error appears:

[code]

[2021-06-19 15:10] gueux commented on #1357
@RickCarlino  Seems i've found the reason of this problem. FarmbotOS use the wrong port definition for avrdude programmator tool.

[code]

[code]

Seems there is no fallback port option for trying both ports  `/dev/ttyAMA0` and `/dev/ttyUSB0`

[2021-06-19 16:49] RickCarlino commented on #1357
@gueux I will assume you are using an Arduino that you did not purchase from FarmBot, Inc. If you are using non-official hardware, you need to manually set the firmware path.

Here is how you can manually set your UART device path (`ttyUSB0`):

0. If you do not know your Arduino's device path, reboot the device. It will provide a log that tells you all available UART device paths (usually ttyAMA0

[2021-06-19 16:49] #1357 closed

[2021-07-11 13:19] jwusch opened #1367 "DIdnt see a Doc project, so putting this here. Hyperlink issue with doc webpage"
Hey, apologies if this should be in project for Documentation, but hyperlink under SSH section on

https://developer.farm.bot/v14/Documentation/farmbot-os/gathering-information-at-runtime

is broken.  Has it listed as this:
https://github.com/FarmBot/farmbot_os/blob/staging/docs/SSH.md

getting 404

[2021-07-11 14:29] gabrielburnworth commented on #1367
Thanks for bringing this to our attention. The developer documentation repository is located at [FarmBot-Docs/farmbot-developers](https://github.com/FarmBot-Docs/farmbot-developers), under the [FarmBot-Docs](https://github.com/FarmBot-Docs) organization.

I've replaced the broken link on the [Gathering Information at Runtime page](https://developer.farm.bot/docs/gathering-information-at-runtime) w

[2021-07-11 14:29] #1367 closed

[2021-12-07 13:46] alkhlama opened #1454 "fail to falsh fambot _os"
![WhatsApp Image 2021-12-04 at 10 44 24 PM](https://user-images.githubusercontent.com/95695786/145040447-4cf78200-a323-4a08-a054-8ffc4cbd2f85.jpeg)
![WhatsApp Image 2021-12-04 at 10 44 23 PM](https://user-images.githubusercontent.com/95695786/145040454-01df054e-01e6-4363-aa75-ecdd3212142a.jpeg)
![WhatsApp Image 2021-12-04 at 10 44 22 PM](https://user-images.githubusercontent.com/95695786/145040458

[2021-12-07 18:15] RickCarlino commented on #1454
![image](https://user-images.githubusercontent.com/1388608/145083916-3463e1f5-9030-4051-8a1d-2d9b621b9c56.png)
@alkhlama You need to select a device model.
https://software.farm.bot/v13/FarmBot-Software/getting-started.html#farmbot-model

[2021-12-07 18:15] #1454 closed

[2021-12-07 18:40] alkhlama commented on #1454
It is a custom device

Sent from my iPhone

On 7 Dec 2021, at 9:15 PM, Rick Carlino ***@***.***> wrote:

﻿

[image]<https://user-images.githubusercontent.com/1388608/145083916-3463e1f5-9030-4051-8a1d-2d9b621b9c56.png>
@alkhlama<https://github.com/alkhlama> You need to select a device model.
https://software.farm.bot/v13/FarmBot-Software/getting-started.html#farmbot-model

—
You are receiving this

[2021-12-07 18:48] RickCarlino commented on #1454
@alkhlama You still need to select a device type. `None` is not a valid choice. If it is an Arduino Mega, then you can select Genesis v1.2.

[2021-12-08 07:57] alkhlama commented on #1454
Greetings
I use mks gen 1.4 board instead of arduino and ramps 1.4  Combination how can I Configure it in the code

Sent from my iPhone

On 7 Dec 2021, at 9:48 PM, Rick Carlino ***@***.***> wrote:

﻿

@alkhlama<https://github.com/alkhlama> You still need to select a device type. None is not a valid choice. If it is an Arduino Mega, then you can select Genesis v1.2.

—
You are receiving this becaus

[2021-12-08 17:53] RickCarlino commented on #1454
We do not support that board. For anyone who finds this issue via search, there is an additional discussion [here](https://github.com/FarmBot/farmbot-arduino-firmware/issues/163).

[2022-01-07 18:31] #902 closed

[2022-01-07 18:33] roryaronson commented on #1142
Closing due to low return on investment

[2022-01-07 18:33] #1142 closed

[2022-01-26 21:56] sabas1080 opened #1474 "WiFi Adapters"
Hi

Can I install other Wi-Fi network adapters?

Thanks

[2022-01-26 22:02] RickCarlino commented on #1474
@sabas1080 The answer to that question is usually "yes". When we build the Linux kernel for FarmBot OS, we try to add as many USB network peripherals as possible. With that being said, we can't guarantee that every USB adapter will work. Many Express customers have successfully purchased off-the-shelf USB Ethernet adapters for this purpose.

If you have not purchased a FarmBot yet and have a Raspb

[2022-01-26 22:13] sabas1080 commented on #1474
@RickCarlino do you have a list of compatible adapters or chips?

[2022-01-26 22:34] RickCarlino commented on #1474
@sabas1080 I do not, but if there's an adapter you had in mind (specifically, the chipset inside) I can look it up. We use buildroot and our buildroot config contains a list of all the drivers available: https://github.com/FarmBot/farmbot_system_rpi3/blob/main/linux-5.10.defconfig

Also, if you are looking for a recommendation for a USB ethernet device, any adapter with a `AX88179` chipset should

[2022-01-26 22:42] gabrielburnworth commented on #1474
In addition to the above, from a quick review of firmware configs and sources:
[code]
configs:
https://github.com/FarmBot/farmbot_system_rpi3/blob/d3544d316998653e562990789e5ce5fc0d85598a/nerves_defconfig#L55-L60

sources:
https://github.com/buildroot/buildroot/blob/master/package/linux-firmware/linux-firmware.mk
https://github.com/buildroot/buildroot/blob/master/package/linux-firmware/Config.in

[2022-01-27 22:27] sabas1080 commented on #1474
Thanks @RickCarlino

I have not been able to access any of those chips, what I have done is use an extender device like this one, if someone has the same problem I will leave the solution

https://www.tp-link.com/es/home-networking/range-extender/tl-wa855re/

[2022-01-27 22:27] #1474 closed

[2022-01-27 23:04] RickCarlino commented on #1474
Thanks, @sabas1080 I have seen some customers use TPLink extender products in the past, though I cannot confirm the exact model number. If it is exposed as a standard WiFi AP, it should work. How is that device working out so far?

[2022-03-10 14:57] bahanni opened #1486 "how can i change the broker ?"
I create a new Broker in HiveMQ and i want change the broker for sending and receiving a data (position x y z, emergency lock ....) between Raspberry and HiveMQ.
I installed paho-MQTT
I created an account in HiveMQ
how i can do it ?

[2022-03-15 08:13] jsimmonds2 commented on #1486
You need to be _self-hosting_ the Web App code, pretty sure.

In the FBOS code, check out this [process Supervisor code](https://github.com/FarmBot/farmbot_os/blob/qa/boot_job/lib/ext/mqtt/supervisor.ex) to see where Authentication Credentials come from :)

[2022-03-15 12:23] RickCarlino commented on #1486
To add some details to what @jsimmonds2 said, the MQTT broker was not intended to be a replaceable component. RabbitMQ is the only supported broker. The software stack's MQTT usage was intentionally built with tight coupling to the API server for security reasons. To use a non-FarmBot MQTT server you would need to self-host your FarmBot and set a custom `MQTT_HOST` ENV var on the server-side. You

[2022-04-05 19:41] #1132 closed

[2022-04-08 11:34] jsimmonds2 commented on #792
There is a "User Disappointer" bug in the solution submitted in [PR#1487](https://github.com/FarmBot/farmbot_os/pull/1487)

Any User's valid and pre-existing `Boot Sequence` will fail to run ( once ), immediately after an **`FBOS Soft Reset`** ( a.k.a. Factory Reset ) with a failure like this ( ignore the Erlang OOM . . seems something to do with the `log_attach` done earlier )

![Screenshot 2022-

[2022-04-30 07:54] jsimmonds2 opened #1493 "Boot Sequence execution may be delayed by earlier (overdue) FarmEvent sequence executions"
For the case where FBOS has been down (powered off, e.g.) for more than 15 minutes and an existing Sequence Farm Event execution becomes **_due_** within a time window starting 15 minutes prior to boot up, then the overdue Farm Event sequence will run before the Boot Sequence (see pic.)

I'd like to work on a solution but first I have questions :)
* Does FBOS reaally need to deal with overdue exec

[2022-05-05 03:21] roryaronson commented on #1493
@jsimmonds2 I think handling the overdue executions was originally to help users who scheduled sequence events too closely together. For example, if a sequence was scheduled at 7:20 took 1 minute and 3 seconds to complete, that would cause a sequence scheduled at 7:21 to get skipped. However, 15 minutes is an excessively long grace period I think. We could reduce that period to 1 minute, or remove

[2022-05-05 07:47] jsimmonds2 commented on #1493
@roryaronson . . and thanks for **your** informative reaction !

Will submit a PR, based on this, very soon.

[2022-06-15 07:15] Cl0sedCircuit opened #1494 "Water keeps running if FB stalls during the execution of a sequence / Risk of flooding"
It is not possible to automatically turn off peripherals if FB stalls during the execution of a sequence.

This is especially problematic if the solenoid valve controlling water flows remains open. In addition to the obvious losss of water, this can lead to plants drawning or even to a risk of flooding if this happens when the FB is left unattended for several days.

I am assuming that this issue

[2022-06-15 12:27] Cl0sedCircuit commented on #1494
This can already be achieved through Pin Guard (https://software.farm.bot/v15/app/settings/pin-guard). Please disregard. Thanks!

[2022-06-23 06:31] jsimmonds2 opened #1496 "Sequence Not Found error is not sent back to MQTT RPC Client"
Was playing around with the **`farmbot-js`** package today and noticed that `{:error, "sequence not found"}` cases aren't handled and just display on the FBOS Console log ( via `stderr` ? ) instead of being bundled up and returned to the the RPC Client as other errors are, so my JS program just quietly hangs ⏲️ . . .

There's an argument, I suppose, that I should enumerate all Sequences and check